<div class='container-users'>
    <%= image_tag @user.photo %>
    <ul>
      <li class='user-name'><%= @user.name %></li>
      <li>Number of posts:<%= @user.posts_counter%></li>
    </ul>
</div>

<div class='bio frame'>
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>


  <% User.recent_posts(@user).each do |p| %>
  <div class='user-posts frame'>
   <p class='post-title'><%= p.title %></p>
   <p class='post-text'><%= p.text%></p>
   <div class='post-counters'>
     <p class='post-c-counter'>Comments: <%= p.comments_counter %></p>
     <p class='post-l-counter'>Likes: <%= p.likes_counter %></p>
   </div>
  </div>
  <% end %>

  


