<% User.recent_posts(@user).each do |p| %>
  <div class='user-posts frame'>
   <p class='post-title'><%= p.title %></p>
   <p class='post-text'><%= p.text%></p>
   <div class='post-counters'>
     <p class='post-c-counter'>Comments: <%= p.comments_counter %></p>
     <p class='post-l-counter'>Likes: <%= p.likes_counter %></p>
   </div>
  </div>

<% if p.comments_counter > 0 %>
  <div class='comment-container frame'>
  <% Post.recent_comments(p.id).each do |c| %>
     <div class='comments'>
      <p>Username: <%= c.author.name %></p>
      <p>Comment: <%= c.text %></p>
    </div>
  <% end %>
  </div>
  
  <%else%>
  <p class="no_comment frame">No comments yet</p>

<% end %>

<% end %>